header {
border: solid 1px goldenrod; 
}

nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

.href{
  color: purple;
}
.disabled {
  color: gray;
}
.active{
  color: yellow;
}
.parent div div:nth-child(3){
  color: blue;
}
.parent > div div:nth-child(1){
  color: red;
}
.parent div div + h4{
  background-color: blue;
}
.parent div div + h4:nth-child(2){
  background-color:red;
}
.promo {
  font-weight: bold;
  color: gold;
}

footer input{
  font-size: 25px;
}

.grandparent h4:last-child {
  border: 1px solid black;
  border-radius: 25px;
}

